* {
    font-family: Arial, Helvetica, sans-serif;
}

.trans {
    background-color: pink;
    width: 200px;
    transition: 3s;
}

.trans:hover {
    background-color: #763c93;
    transition: 0.5s;
}

.hola {
    margin-top: 100px;
    margin-left: 100px;
    text-shadow: 60px 60px 2px rgb(235, 146, 202), -60px -60px 2px rgb(146, 146, 238), -60px 60px 2px #700937, 60px -60px 2px #f7187c;
    transition: 2s;
}

.hola:hover {
    text-shadow: -60px -60px 2px rgb(24, 24, 199), 60px 60px 2px rgb(233, 53, 167), 60px -60px 2px #f7187c, -60px 60px 2px #700937;
    transition: 2s;
}

.move {
    padding-top: 30px;
}

.list {
    display: flex;
    gap: 30px;
}

li {
    list-style: none;
}

a {
    color: black;
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    background: url(./Yo.png) no-repeat 90px 30px, linear-gradient(#f7187c 0%, #bc23b2 30%, #8349bc 69%, #763c93 100%);
    background-size: cover;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #f7187c;
    background-position: center;
}

.container {
    padding-top: 30px;
}

.box {
    font-size: 15px;
    background-color: #763c93;
    width: 300px;
    height: 300px;
    transition: font-size 5s, background-color 20s, width 10s, height 10s;
}

.box:hover {
    color: #f7187c;
    font-size: 200px;
    background-color: #700937;
    width: 500px;
    height: 500px;
}

.escal {
    font-size: 20px;
}

p:hover span {
    transition: 3s;

}

p:hover .h {
    font-size: 20px;
    color: #bc23b2;
    transition: 3s;
}

p:hover .o {
    font-size: 40px;
    color: #8349bc;
    transition: 3s;
}

p:hover .l {
    font-size: 80px;
    color: #763c93;
    transition: 3s;
}

p:hover .a {
    font-size: 120px;
    color: #700937;
    transition: 3s;
}
.barra{
    width: 400px;
    border: 2px solid black;
}
.vida{
    width: 300px;
    height: 30px;
    background-image: url(./corazon-mask.png);
    background-size: auto 100%;
    background-color: rgb(183, 0, 255);
    animation: move 2s forwards;
}

@keyframes move{
    from{
        width: 0%;
    }
    to{
        width: 83%;
    }
}